<!DOCTYPE html>
<html>

<head>
    <script>
        const uri = window.location.href;
        window.opener.oauth2Callback(uri);
        window.close();
    </script>
</head>

<body>
    Logging in...
</body>

</html>